@use 'variables';

.header {
    position: relative;
    z-index: 3;
    backdrop-filter: blur(16px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));

    &__box {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            max-width: 120vh;
            width: 116vh;
            background-color: #000;
        }
    }

    &__brand {
        align-items: center;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 4px;
        color: #c4c4c4;
        
        @media (max-width: 768px) {
            font-size: 32px;
            margin-bottom: 16px;
        }
    }

    &__navbar {

        &__box {
            display: flex;
            align-items: center;

            &__item {
                margin-right: 24px;
                list-style: none;

                &__link {
                    display: inline-block;
                    padding: 20px;
                    margin-top: -15px;
                    font-size: 14px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: variables.$secondaryColor;
                    letter-spacing: 2px;
                    border-top: 8px solid transparent;

                    @media (max-width: 768px) {
                        font-size: 24px;
                    }
                    
                    &:hover {
                        border-top: 8px solid rgb(231, 208, 2);
                        font-size: 15px;
                        color: #fff;
                        transition: color .5s ease;
                        transition: font-size 1s ease;

                        @media (max-width: 768px) {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    &__btn {
        padding: 12px;
        border-radius: 8px;
        border: none;
        background-color: variables.$elementsColor;
        text-transform: uppercase;
        cursor: pointer;

        @media (max-width: 768px) {
            padding: 16px;
            font-size: 24px;
        }

        &:hover {
            background-color: variables.$elementsColorHover;
            transition: background-color .5s ease;
        }
    }
}
