@use 'header';
@use 'hero';
@use 'news';
@use 'copy';
@use 'footer';
@use 'signup';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'General Sans', sans-serif;
}

html, body {margin: 0; height: 100%; overflow-x: hidden}
